@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0 0 15%
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__botao {
    font-style: normal;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho__menu__botao:hover {
    color: #7be7ff;
}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000;
    color: #F6F6F6;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 15%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 593px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.texto_destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.apresentacao__links_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
}


.apresentacao__links_botao {
    display: flex;
    gap: 16px;
    justify-content: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #F6F6F6;
    padding: 16px 0;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    width: 378px;

}

.apresentacao__links_botao:hover {
    background-color: #272727;
    color: #22D4FD;
}

.rodape {
    padding: 24px;
    background-color: #22D4FD;
    color: #000;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}