.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--azul-gradiente);
  padding: 2.5rem 2rem;
}

.banner__titulo {
  font-size: 1.125rem;
  font-weight: 700;
}

.banner__texto {
  font-weight: 500;
  margin: 1rem 0;
}

.banner__pesquisa {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 1.5rem;
  background-color: transparent;
  padding: 1rem;
  width: 100%;
}

.banner__pesquisa::placeholder {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  background: url(images/Lupa.svg) no-repeat;
  background-position: 1rem;
}

@media screen and (min-width: 1024px) {
  .banner__titulo {
    font-size: 2.25rem;
  }

  .banner__pesquisa {
    width: 50%;
  }

  .banner__pesquisa::placeholder {
    background-position: 5rem;
  }
}
