.carrossel__titulo {
  color: var(--cor-destaque);
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  background-color: #ffffff;
  padding: 1.25rem 0 0.5rem 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.75rem 0 1rem 0;
}
