@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.cabecalho {
  background-color: #ffffff;
  padding: 1.1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.cabecalho__menu-hamburger {
  width: 3rem;
  height: 3rem;
  background-image: url("./images/Menu.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.container__botao {
  display: none;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburger {
  background-image: url("./images/Menu Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
  background: var(--azul-gradiente);
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  left: 0;
  background-color: #ffffff;
}

.lista-menu__titulo {
  font-weight: 700;
  color: var(--cor-destaque);
  padding: 1rem 0;
}

.lista-menu__item {
  font-weight: 400;
  padding: 1rem 1.5rem;
}

.lista-menu__link {
  text-decoration: none;
  background: var(--azul-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__texto,
.opcoes,
.container__titulo {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    padding: 0;
  }
  .container__titulo {
    display: block;
    color: #000;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.875rem;
  }
  .container__titulo-negrito {
    font-weight: 700;
  }

  .opcoes {
    font-weight: 400;
    display: flex;
    color: #000;
  }
  .opcoes__item {
    padding: 0 1.3rem;
  }
  .opcoes__link {
    text-decoration: none;
    color: #000;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
    left: auto;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
    background: var(--azul-gradiente);
    color: #ffffff;
  }

  .opcoes__item {
    padding: 2rem 1rem;
  }

  .lista-menu__item:hover {
    background: var(--azul-gradiente);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: #ffffff;
  }

  .cabecalho__menu-hamburger,
  .opcoes__botao,
  #favorito {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .container__texto {
    display: block;
    margin: 1rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: #000;
    margin-right: 1rem;
  }

  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .cabecalho {
    padding: 0;
  }

  .opcoes {
    margin-right: auto;
    margin-left: 4rem;
  }

  .lista-menu {
    padding: 0;
  }
}
