hr {
  margin: 0;
  color: #858585;
}

.rodape {
  background-color: #f9f9f9;
  padding: 1rem 0 1.5rem 1.5rem;
  display: flex;
}

.rodape__texto {
  color: #000;
  font-weight: 400;
  margin-right: 6.625rem;
}

.listas {
  display: none;
  gap:3.8125rem
}

.lista__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0rem 0 1rem 0;
}

.lista__titulo {
  font-size: 0.875;
  color: var(--cor-rodape-titulo);
  font-family: var(--fonte-primaria);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.item__link {
  font-size: 0.875;
  color: var(--cor-rodape-texto);
  font-family: var(--fonte-primaria);
  font-weight: 400;
  text-decoration: none;
}

@media screen and (min-width:1024px) {
  .rodape__texto{
    font-size: 1.5rem;
  }

  .listas{
    display: flex ;
  }
}
