body {
    background-color: black;
    color: #F6F6F6;
    font-family: Verdana;

}

.texto_destaque {
    color: #22D4FD;
}

button {
    background-color: #22D4FD;
    border-radius: 10px;
    padding: 20px 40px;
    border: none;
    font-size: 20px;
}

a {
    color: black;
}