@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #000;
    color: #F6F6F6;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 615px;
    height: 482px;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    width: 593px;
}

.texto_destaque {
    color: #22D4FD;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.botao {
    background-color: #22D4FD;
    border-radius: 16px;
    padding: 16px;
    border: 0px solid #22D4FD;
    width: 280px;
    height: 79px;
}

.botao__link {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    width: 280px;
    height: 79px;
}